.headerFormat {
    background-color: rgba(0,0,0,0.45);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    color: white;
    top: 0;
    width: 100%;
    position: absolute;
    margin: 0px auto;
    font-size: 0.9rem;

}
